.profile {
  font-size: 18px;
  font-family: Unbounded, sans-serif;
  margin-bottom: 25px;

  .UpPhoto {
    width: 100%;
    height: 200px;
    border-bottom: 2px solid #064e3b;
    position: relative;
    margin-bottom: 50px;
    background-color: #999999;

    .img {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 200px;
      height: 200px;
      border-radius: 50%;
      border: 1px black solid;
      position: absolute;
      left: 50%;
      margin-left: -100px;
      top: 50%;
      margin-top: -75px;
      background-color: red;
      transition: 0.15s ease-in-out;

      &:hover {
        color: #064e3b;
        backface-visibility: hidden;
        border: 1px #064e3b solid;
      }
    }
  }

  .DownInfo {
    form {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 15px;
      justify-content: center;
      align-items: center;

      @media (max-width: 800px) {
        grid-template-columns: 1fr;
      }

      #form-component {
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        align-items: center;

        input {
          width: 100%;
          max-width: 300px;
          height: 26px;
        }
      }

      button {
        margin: 10px auto;
        box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
        border: 0;
        width: 100px;
        height: 30px;
        border-radius: 5px;
        border: 1px solid #999999;
        transition: 0.4s;
        font-family: Instrument Sans, sans-serif;
        color: #064e3b;
        font-size: 16px;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
          background-color: darkgreen;
          box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
          color: white;
        }
      }

      #reset {
        color: brown;

        &:hover {
          background-color: brown;
          color: white;
        }
      }
    }
  }
}
