@import "../../_variables";

* {
  box-sizing: border-box;
}



.header {
  transition: top 0.3s;
  position: relative;
  width: 100%;
  box-shadow: 1px 1px #185718;
  pointer-events: auto;
  display: flex;
  flex-direction: column;
  font-size: 20px;

  a {
    text-decoration: none;

    &:hover {
      transition: 0.5s;
    }
  }

  .upHead {
    display: flex;
    padding: 10px 30px;
    justify-content: space-between;
    align-items: center;

    .login{
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: 3px ;
      align-content: center;
      text-align: center;
      background-color: #064e3b;
      color: #fff;
      font-size: 20px;
      cursor: pointer;
      font-family: Unbounded, sans-serif;

    }
    .dropdownMenu{
      width: 100px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }


    a {
      font-family: "Unbounded", sans-serif;
      font-weight: 500;
      letter-spacing: 0;
      color: #064e3b;
    }
  }

  .navHead {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;
    background-color: #064e3b;
    font-family: "Poppins", serif;

    .desktopMenu {
      display: flex;
      gap: 20px;
      @media (max-width: 600px) {
        display: none;
      }
    }

    .mobileMenu {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 55px;
      background-color: #064e3b;
      width: 100%;
      @media (max-width: 600px) {
        margin: auto;
        display: flex;
      }
      a {
        color: #fff;
        padding: 10px;
      }
    }

    a {
      color: #fff;
    }
  }
}


.active {
  font-weight: bold; // Optionally, you can add other styling for the active menu item
}
