//@import '../../_variables';
//
//
//* a {
//  text-decoration: none;
//  color: $font-color ;
//
//  &:hover {
//    color:$accent-color;
//    transition: 0.5s;
//  }
//}
//
//
//.header {
//  transition: top 0.3s;
//  position: relative;
//  width: 100%;
//
//  box-sizing: border-box;
//  padding-top: 1.1vw;
//  //padding-bottom: 1.1vw;
//  box-shadow: 1px 1px  #185718;
//  pointer-events: auto;
//  display: flex;
//  flex-direction: column;
//  gap: 15px;
//  font-size: 20px;
//
//
//  .upHead {
//    display: flex;
//    justify-content: space-around;
//    align-items: center;
//
//    a {
//      font-family: "Unbounded", sans-serif;
//      font-weight: 500;
//      letter-spacing: 0;
//      color: darkolivegreen;
//    }
//  }
//
//  .navHead {
//    display: flex;
//    align-items: center;
//    justify-content: center;
//    gap: 20px;
//    height: 55px;
//    background-color: darkolivegreen;
//    font-family: "Poppins", serif;
//
//    a{
//    color: #FFFFFF;
//    }
//  }
//
//}

@import "../../_variables";

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: $font-color;

  &:hover {
    color: $accent-color;
    transition: 0.5s;
  }
}

.header {
  transition: top 0.3s;
  position: relative;
  width: 100%;
  box-shadow: 1px 1px #185718;
  pointer-events: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 20px;

  .upHead {
    display: flex;
    padding-top: 15px;
    justify-content: space-around;
    align-items: center;


    a {
      font-family: "Unbounded", sans-serif;
      font-weight: 500;
      letter-spacing: 0;
      color: #064e3b;
    }
  }

  .navHead {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;
    background-color: #064e3b;
    font-family: "Poppins", serif;

    .desktopMenu {
      display: flex;
      gap: 20px;
      @media (max-width: 600px) {
        display: none;
      }
    }

    .mobileMenu {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 55px;
      background-color: #064e3b;
      width: 100%;
      @media (max-width: 600px) {
        display: flex;
      }
      a {
        color: #fff;
        padding: 10px;
      }
    }

    a {
      color: #fff;
    }
  }
}
