@import '../../_variables';


* a {
  text-decoration: none;
  color: $font-color ;

  &:hover {
    color:$accent-color;
    transition: 0.5s;
  }
}

.header {
  position: sticky;
  //z-index: 2;
  width: 100%;

  box-sizing: border-box;
  padding-top: 1.1vw;
  padding-bottom: 1.1vw;
  pointer-events: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 20px;


  .upHead {
    display: flex;
    justify-content: space-around;
    align-items: center;

    a {
      font-family: "Unbounded", sans-serif;
      font-weight: 500;
      letter-spacing: 0;
      color: darkolivegreen;
    }
  }

  .navHead {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 55px;
    background-color: darkolivegreen;
    font-family: "Poppins", serif;

    a{
    color: #FFFFFF;
    }
  }

}