///* services section */
//.services {
//  background-color: #f2f2f2;
//  padding: 50px 0;
//  font-family: Unbounded, sans-serif;
//  font-weight: 500;
//  letter-spacing: 0;
//
//  .services-container {
//    width: 100%;
//    max-width: 1350px;
//    margin: 0 auto;
//
//    .service-header {
//
//      text-align: center;
//      font-size: 2rem;
//      margin-bottom: 50px;
//    }
//
//    .cards {
//      display: flex;
//      flex-wrap: wrap;
//      justify-content: space-between;
//
//      .card-item {
//        width: 32%;
//        background-color: #fff;
//        border-radius: 5px;
//        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
//        margin-bottom: 20px;
//        &:hover{
//          transform: scale(1.1);
//          transition: all 0.5s ease-in-out;
//        }
//
//        .img {
//          width: 100%;
//          height: 300px;
//          overflow: hidden;
//
//          img {
//            width: 100%;
//            height: 100%;
//            object-fit: cover;
//          }
//        }
//
//        .card-info {
//          padding: 20px;
//
//          h3 {
//            font-size: 1.2rem;
//            margin-bottom: 10px;
//          }
//
//          .text {
//            font-family: Instrument Sans, sans-serif;
//            font-size: 16px;
//            font-weight: 400;
//            line-height: 2rem;
//            overflow-wrap: anywhere;
//          }
//        }
//      }
//    }
//  }
//}
//

.services {
  background-color: #f2f2f2;
  padding: 50px 0;
  font-family: Unbounded, sans-serif;
  font-weight: 500;
  letter-spacing: 0;

  .services-container {
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;

    .service-header {
      text-align: center;
      font-size: 2rem;
      margin-bottom: 50px;
    }

    .cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .card-item {
        width: 30%;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
        transition: transform 0.5s ease-in-out;

        &:hover{
          transform: scale(1.1);
          transition: all 0.5s ease-in-out;}

        .img {
          width: 100%;
          height: 250px;
          overflow: hidden;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .card-info {
          padding: 20px;

          h3 {
            font-size: 1.2rem;
            margin-bottom: 10px;
          }

          .text {
            font-family: Instrument Sans, sans-serif;
            font-size: 16px;
            font-weight: 400;
            line-height: 2rem;
            overflow-wrap: anywhere;
          }
        }
      }
    }
  }

  @media screen and (max-width: 992px) {
    .services-container .cards .card-item {
      width: 48%;
    }
  }

  @media screen and (max-width: 600px) {
    .services-container .cards .card-item {
      width: 100%;
    }
  }
}
