
.aboutUs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  background-color: #f5f5f5;

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding: 20px;

    .text {
      max-width: 100%; // Metnin maksimum genişliğini değiştirin

      h1 {
        font-weight: 600;
        font-size: 30px;
        font-family: Unbounded, sans-serif;
        transition-timing-function: ease;
        color: #333;
      }

      p {
        font-weight: 400;
        font-size: 20px;
        font-family: Instrument Sans, sans-serif;
        color: #666;
        margin-top: 10px; // Metinler arasındaki boşluğu ayarlayın
      }

      a {
        font-size: 1rem;
        color: #007bff;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .image {
      img {
        width: 100%; // Resmin genişliğini ayarlayın
        height: auto;
        margin-top: 20px; // Resim ile metin arasındaki boşluğu ayarlayın
      }
    }
  }

  @media (min-width: 768px) {
    .content {
      flex-direction: row; // 768 pikselden geniş ekranlarda yatay düzene geçiş yapın
      align-items: center;

      .text {
        max-width: 50%; // Metnin maksimum genişliğini ayarlayın
        margin-right: 20px; // Metin ile resim arasındaki boşluğu ayarlayın
      }

      .image {
        width: 50%; // Resmin genişliğini ayarlayın
        margin-top: 0; // Resim ile metin arasındaki boşluğu kaldırın
      }
    }
  }
}
