// SASS: "About Us" bölümü için stil tanımlamaları
.aboutUs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  background-color: #f5f5f5;

  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;

    .text {
      max-width: 50%;

      h1 {
        font-weight: 600;
        font-size: 30px;
        font-family: Unbounded, sans-serif;
        transition-timing-function: ease;
        color: #333;
      }

      p {
        font-weight: 400;
        font-size: 20px;
        font-family: "Instrument", serif;
        color: #666;
      }

      a {
        font-size: 1rem;
        color: #007bff;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .image {
      img{
        width: 70%;
        height: auto;
        background-size: cover;
        background-position: center;
        object-fit: contain;
      }
    }
  }
}
